@media (max-width: 1254px){
    .div2{
        display: none;
    }
}
@media (max-width: 776px){
    .div1{
        display: none;
    }
    .part1{
        display: none;
    }
    body{
        font-size: 3vw;
    }
}
@media (min-width: 775px){
    .media-icon{
        display:none;
    }
    .part2-row{
        display: none;
    }
}
